@use "../../index.scss";

.SearchBar{
  margin: 1em auto;
  display: flex;
  justify-content: center;
  padding: 1em;
  width: 80%;

  &__submit{
    @extend .buttons;
    margin: 10px;
    font-size: 1.4em;
  }

}